.containerNavbar {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  list-style: none;
  background-color: black;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navegablesNavbar {
  text-decoration: none;
  color: white;
  padding: 1rem;
}
